@using BimManagerPortal.WebBlazorSite.UIComponents.Layout.CheckBoxes
@using BimManagerPortal.WebBlazorSite.UIComponents.Layout.Modals.EventModalWindow
@using BimManagerPortal.WebBlazorSite.UIComponents.Layout.ThreeOptionSelect

<EditForm EditContext="@_editContext" 
          OnSubmit="SendConfig">
    <ObjectGraphDataAnnotationsValidator />
    <EventModalWindow @ref="_eventModal" />
    <div class="plugin-form mt-3 p-4 border rounded bg-white shadow-sm fade-in">
        <h4 class="mt-4 text-primary border-bottom pb-2">Настройки Restricted Area</h4>
        
        <div class="col-md-6 mb-4">
            <h5 class="form-label">Имя конфигурации</h5>
            <InputText type="text" class="form-control"
                       @bind-Value="RestrictedAreaConfig.NameConfig"
                       placeholder="Пример: SV2_AR_Vinogradov_RestrictedArea"/>
            <ValidationMessage For="@(() => RestrictedAreaConfig.NameConfig)"/>
        </div>
        
        <div class="card p-3 mb-3 shadow-sm">
            
            <h6 class="card-subtitle mb-2 text-muted">Режим построения</h6>
            <div class="row g-2">
                <!-- TemplatePath -->
                <TreeOptionSelecter Label="Обработка старых зон"
                                    Options="@ModelTypes"
                                    @bind-Value="Config.BuildingMode.HandlerOldZones" />
                <ValidationMessage For="@(() => Config.BuildingMode.HandlerOldZones)"/>
                <CheckboxField Label="Построение новых зон"
                               @bind-Value="Config.BuildingMode.BuilderNewZones" />
                <CheckboxField Label="Создание файлов с запретными зонами"
                               @bind-Value="Config.BuildingMode.CreateRestrictedZoneFile" />
                
            </div>
        </div>

        <div class="card p-3 mb-3 shadow-sm">
            
            <h6 class="card-subtitle mb-2 text-muted">Пути к моделям</h6>
            <div class="row g-2">
                <!-- TemplatePath -->
                <div class="col-12">
                    <label class="small">Имя обьекта</label>
                    <InputText class="form-control form-control-sm"
                               @bind-Value="Config.PathsToModels.ObjectName"/>
                    <ValidationMessage For="@(() => Config.PathsToModels.ObjectName)"/>
                </div>
                <!-- TemplatePath -->
                <div class="col-12">
                    <label class="small">Путь к файлу с координатами</label>
                    <InputText class="form-control form-control-sm"
                               @bind-Value="Config.PathsToModels.TemplatePath"/>
                    <ValidationMessage For="@(() => Config.PathsToModels.TemplatePath)"/>
                </div>

                <!-- PathForFilesWithOnlyRestrictedAreas -->
                <div class="col-12">
                    <label class="small">Путь куда выгрузить файл с запретными зонами</label>
                    <InputText class="form-control form-control-sm"
                               @bind-Value="Config.PathsToModels.PathForFilesWithOnlyRestrictedAreas"/>
                    <ValidationMessage For="@(() => Config.PathsToModels.PathForFilesWithOnlyRestrictedAreas)"/>
                </div>

                <!-- Prefix -->
                <div class="col-md-6">
                    <label class="small">Префикс файла</label>
                    <InputText class="form-control form-control-sm"
                               @bind-Value="Config.PathsToModels.PrefixForFilesWithOnlyRestrictedAreas"/>
                    <ValidationMessage For="@(() => Config.PathsToModels.PrefixForFilesWithOnlyRestrictedAreas)"/>
                </div>

                <!-- Suffix -->
                <div class="col-md-6">
                    <label class="small">Суффикс файла</label>
                    <InputText class="form-control form-control-sm"
                               @bind-Value="Config.PathsToModels.SuffixForFilesWithOnlyRestrictedAreas"/>
                    <ValidationMessage For="@(() => Config.PathsToModels.SuffixForFilesWithOnlyRestrictedAreas)"/>
                </div>


                <!-- Models List -->
                <div class="card p-3 shadow-sm mt-3">
                    <h6 class="card-subtitle mb-3 text-muted">Список путей к моделям</h6>

                    <div class="models-list">
                        @for (int i = 0; i < Config.PathsToModels.Models.Count; i++)
                        {
                            var index = i;
                            var model = Config.PathsToModels.Models[i];
                            <div class="mb-2" @key="model.Id">
                                <div class="input-group">
                                    <span class="input-group-text bg-white text-muted small">@(index + 1)</span>

                                    <InputText class="form-control form-control-sm"
                                               placeholder="Введите путь к модели..."
                                               @bind-Value="Config.PathsToModels.Models[index].ModelPath"/>

                                    <button class="btn btn-outline-danger btn-sm" type="button"
                                            @onclick="() => RemoveModel(Config.PathsToModels, index)">
                                        <i class="bi bi-dash-lg"></i> −
                                    </button>
                                </div>
                                <ValidationMessage For="@(() => Config.PathsToModels.Models[index].ModelPath)"/>
                            </div>
                        }
                    </div>

                    <div class="d-grid mt-2">
                        <button class="btn btn-outline-success btn-sm" type="button"
                                @onclick="() => AddModel(Config.PathsToModels)">
                            <i class="bi bi-plus-lg"></i> + Добавить модель
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="accordion" id="disciplinesAccordion">

            <!-- Архитектурные решения -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAR">
                        Архитектурные решения
                    </button>
                </h2>
                <div id="collapseAR" class="accordion-collapse collapse" data-bs-parent="#disciplinesAccordion">
                    <div class="accordion-body bg-light">
                        <div class="card p-3 shadow-sm">
                            <h6 class="card-subtitle mb-2 text-muted">
                                Настройка форм АР
                            </h6>
                            <CheckboxField Label="Форма вокруг проема АР"
                                           @bind-Value="Config.Razdels.ArDiscipline.ArEnableFormSettings.RzArDoors" />
                            <CheckboxField Label="Форма потолка"
                                           @bind-Value="Config.Razdels.ArDiscipline.ArEnableFormSettings.RzRoomProperties" />
                            <CheckboxField Label="Форма Машиноместа"
                                           @bind-Value="Config.Razdels.ArDiscipline.ArEnableFormSettings.RzArParking" />
                            <CheckboxField Label="Форма вокруг проема КР"
                                           @bind-Value="Config.Razdels.ArDiscipline.ArEnableFormSettings.RzArDoorsReinforcedConcrete" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Конструктивные решения -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseKR">
                        Конструктивные решения
                    </button>
                </h2>
                <div id="collapseKR" class="accordion-collapse collapse" data-bs-parent="#disciplinesAccordion">
                    <div class="accordion-body bg-light">
                        <div class="card p-3 shadow-sm">
                            <h6 class="card-subtitle mb-2 text-muted">Настройка форм КР</h6>
                            <CheckboxField Label="Форма из колонн"
                                           @bind-Value="Config.Razdels.KrDiscipline.KrEnableFormSettings.RzKrStructuralColumns" />
                            <CheckboxField Label="Форма из капителей"
                                           @bind-Value="Config.Razdels.KrDiscipline.KrEnableFormSettings.RzKrColumnHeads" />
                            <CheckboxField Label="Форма вокруг проема КР"
                                           @bind-Value="Config.Razdels.KrDiscipline.KrEnableFormSettings.RzKrDoors" />
                            <CheckboxField Label="RzKrWalls"
                                           @bind-Value="Config.Razdels.KrDiscipline.KrEnableFormSettings.RzKrWalls" />
                            <CheckboxField Label="Форма по краю перекрытий"
                                           @bind-Value="Config.Razdels.KrDiscipline.KrEnableFormSettings.RzKrFloors" />
                            <CheckboxField Label="Форма по торцам стен"
                                           @bind-Value="Config.Razdels.KrDiscipline.KrEnableFormSettings.RzKrAroundColumnsInFloor" />
                            <CheckboxField Label="Форма в перекрытии в торцах стен"
                                           @bind-Value="Config.Razdels.KrDiscipline.KrEnableFormSettings.RzKrAroundWallsInFloor" />
                            <CheckboxField Label="Форма в стене под колоннами"
                                           @bind-Value="Config.Razdels.KrDiscipline.KrEnableFormSettings.RzKrUnderColumnInWalls" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Инженерные системы -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVIS">
                        Инженерные системы
                    </button>
                </h2>
                <div id="collapseVIS" class="accordion-collapse collapse" data-bs-parent="#disciplinesAccordion">
                    <div class="accordion-body bg-light">
                        <div class="card p-3 shadow-sm">
                            <h6 class="card-subtitle mb-2 text-muted">
                                Настройка форм ВИС
                            </h6>
                            <CheckboxField Label="Зона просвета для лотка СС"
                                           @bind-Value="Config.Razdels.VisDiscipline.VisEnableFormSettings.RzSsCableTray" />
                            <CheckboxField Label="Зона просвета для лотка ЭОМ"
                                           @bind-Value="Config.Razdels.VisDiscipline.VisEnableFormSettings.RzEomCableTray" />
                            <CheckboxField Label="Зона просвета для воздуховода ЭОМ"
                                           @bind-Value="Config.Razdels.VisDiscipline.VisEnableFormSettings.RzEomDuctRectangle" />
                            <CheckboxField Label="Зона просвета для трубы ВК"
                                           @bind-Value="Config.Razdels.VisDiscipline.VisEnableFormSettings.RzPipeVk" />
                            <CheckboxField Label="Зона просвета для трубы ПТ"
                                           @bind-Value="Config.Razdels.VisDiscipline.VisEnableFormSettings.RzPipePt" />
                            <CheckboxField Label="Зона просвета для трубы ОТ"
                                           @bind-Value="Config.Razdels.VisDiscipline.VisEnableFormSettings.RzPipeOt" />
                            <CheckboxField Label="Зона просвета для трубы КВ"
                                           @bind-Value="Config.Razdels.VisDiscipline.VisEnableFormSettings.RzPipeKv" />
                            <CheckboxField Label="Зона просвета для воздуховода ОВ"
                                           @bind-Value="Config.Razdels.VisDiscipline.VisEnableFormSettings.RzDuctVentRound" />
                            <CheckboxField Label="Зона просвета для воздуховода ОВ"
                                           @bind-Value="Config.Razdels.VisDiscipline.VisEnableFormSettings.RzDuctVentRectangle" />
                            <CheckboxField Label="Зона просвета для трубы КВ"
                                           @bind-Value="Config.Razdels.VisDiscipline.VisEnableFormSettings.RzPipeKv" />
                            <CheckboxField Label="Зона просвета для воздуховода СС"
                                           @bind-Value="Config.Razdels.VisDiscipline.VisEnableFormSettings.RzDuctSsRectangle" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary px-5">Создать конфигурацию</button>
    </div>
</EditForm>
