@using BimManagerPortal.Domain.Entities.PluginsConfigs.RestrictedAreas
@using BimManagerPortal.WebBlazorSite.UIComponents.PluginConfigurations.Tabs.CreateConfigurations.Forms.RestrictedAreaForm

<div class="container-box p-3">
    <h5 class="mb-3">Выберите приложение</h5>

    <div class="plugin-selector @(SelectedApp != null ? "compact" : "full")">
        @foreach (var plugin in AvailableApps)
        {
            <div class="plugin-card @(SelectedApp == plugin ? "active" : "")"
                 @onclick="() => SelectApp(plugin)">
                <span>@plugin.ToString()</span>
            </div>
        }
    </div>

    <hr />

    @if (SelectedApp != null)
    {
        <h5 class="mb-3">Выберите плагин</h5>

        <div class="plugin-selector @(SelectedPlugin != null ? "compact" : "full")">
            @foreach (var plugin in AvailablePlugins)
            {
                <div class="plugin-card @(SelectedPlugin == plugin ? "active" : "")"
                     @onclick="() => SelectPlugin(plugin)">
                    <span>@plugin.Name</span>
                </div>
            }
        </div>
        <hr />
        @if (SelectedPlugin != null)
        {
                <div class="form-container fade-in">
                    @if (SelectedPlugin.Name == "RestrictedArea")
                    {
                            <RestrictedAreaForm/>
                    }
                    else if (SelectedPlugin.Name == "ClashDefender")
                    {
                        <p>Здесь будут поля для ClashDefender...</p>
                    }
                    else
                    {
                        <p>Общие настройки для @SelectedPlugin.Company...</p>
                    }
                    
                </div>
        }
    }
</div>