<div class="form-check mb-2">
    <InputCheckbox class="form-check-input"
                   Value="@Value"
                   ValueChanged="@((bool v) => ValueChanged.InvokeAsync(v))"
                   ValueExpression="@(() => Value)"
                   id="@Id" />
    <label class="form-check-label ms-2" for="@Id">
        @Label
    </label>
</div>